@model IPagedList<eProjectHDO.Models.User>

@{
    ViewBag.Title = "cAccount";
    Layout = "~/Views/Shared/_admin.cshtml";
    int type = 0;
    if (Request.QueryString["type"] == null)
    {
        type = 0;
    }
    else
    {
        type = Convert.ToInt32(Request.QueryString["type"]);
    }
}
@using PagedList;
@using PagedList.Mvc;
<div class="panel-title"><h3>List of Users</h3></div>
<div class="row">
    <div class="col-6 col-sm-6" style="margin-top:10px">
        <a href="@Url.Action("createUser","Admin")" class="button"><i class="fas fa-plus"></i> Create new</a>
    </div>
    <div class="col-6 col-sm-6" style="margin-top:10px">
        <a href="@Url.Action("printUser","Admin")" class="button bg-danger"><i class="fas fa-print"></i> Print</a>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <div class="filter">
            <span class="filter-span">Filter users</span>
            <select name="filter" id="filter" class="form-sm-control">
                <option value="">--Select--</option>
                <option value="0">All</option>
                <option value="1">Member</option>
                <option value="2">Assigned-person</option>
                <option value="3">Head-facility</option>
                <option value="4">Admin</option>
            </select>
        </div>
    </div>
    <div class="col-12 col-m-12">
        <div class="card">
            <div class="card-header"><h3>List of Users</h3></div>
            <div class="card-content">
                <table class="table-re">
                    <tr>
                        <th>Avatar</th>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Fullname</th>
                        <th>Gender</th>
                        <th>Role</th>
                        <th>Operation</th>
                    </tr>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    <a href="@Url.Action("Index","User",new {id=item.UserId })"><img src="~/images/profile/@item.avatar" class="td-avatar"></a>
                                </td>
                                <td><a href="@Url.Action("Index","User",new {id=item.UserId })">@item.username</a></td>
                                <td><a href="mailto:@item.email">@item.email</a></td>
                                <td>@item.fullname</td>
                                <td>
                                    @{
                                        if (item.gender == false)
                                        {
                                            <span>Male</span>
                                        }
                                        else
                                        {
                                            <span>Female</span>
                                        }
                                }
                            </td>
                            <td>
                                @{
                                    if (item.role == 1)
                                    {
                                        <span style="color:#4582af;font-size:12pt;font-weight:bold">Member</span>
                                    }
                                    else if (item.role == 2)
                                    {
                                        <span style="color:#9932CC;font-size:12pt;font-weight:bold">Assigned-person</span>
                                    }
                                    else if (item.role == 3)
                                    {
                                        <span style="color:green;font-size:12pt;font-weight:bold">Facility-heads</span>
                                    }
                                    else
                                    {
                                        <span style="color:#ff5159;font-size:12pt;font-weight:bold">Admin</span>
                                    }
                                }
                            </td>
                            <td>
                                <a href="@Url.Action("Index","User",new {id=item.UserId })" class="btn-circle bg-success"><i class="fas fa-eye"></i></a>
                                <a href="@Url.Action("deleteUser","Admin",new {id=item.UserId })" class="btn-circle bg-danger" onclick="if (! confirm('Continue?')) { return false; }"><i class="fas fa-times"></i></a>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
        @Html.PagedListPager(Model, page => Url.Action("cAccount", "Admin", new { page,type=type }))
    </div>
</div>
<script>
    document.getElementById("filter").onchange = function (event) {
        let type = this.value;
        window.location.href = '/Admin/cAccount?type=' + type;
    };
</script>